<p class = "normal directions">&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp; <strong>A</strong> </p>

<p class = "normal">V.&nbsp;&nbsp;&nbsp; Show us your
mercy, O Lord; <br>
R.&nbsp;&nbsp;&nbsp; And grant us your salvation. <br>
V.&nbsp;&nbsp;&nbsp; Clothe your ministers with righteousness; <br>
R.&nbsp;&nbsp;&nbsp; Let your people sing with joy. <br>
V.&nbsp;&nbsp;&nbsp; Give peace, O Lord, in all the world; <br>
R.&nbsp;&nbsp;&nbsp; For only in you can we live in safety. <br>
V.&nbsp;&nbsp;&nbsp; Lord, keep
this nation under your care; <br>
R.&nbsp;&nbsp;&nbsp; And guide us in the way of justice and
truth. <br>
V.&nbsp;&nbsp;&nbsp; Let your way be known upon earth; <br>
R.&nbsp;&nbsp;&nbsp; Your saving health among all nations. <br>
V.&nbsp;&nbsp;&nbsp; Let not the needy, O Lord, be forgotten; <br>
R.&nbsp;&nbsp;&nbsp; Nor the hope of the poor be taken away. <br>
V.&nbsp;&nbsp;&nbsp; Create in us clean hearts, O God; <br>
R.&nbsp;&nbsp;&nbsp; And sustain us with your Holy Spirit. </p>
