<p class = "normal directions">&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp; <strong>B </strong></p>

<p class = "normal">V.&nbsp;&nbsp;&nbsp; Save your
people, Lord, and bless your inheritance; <br>
R.&nbsp;&nbsp;&nbsp; Govern them and uphold them, now and always.
<br>
V.&nbsp;&nbsp;&nbsp; Day by day we bless you; <br>
R.&nbsp;&nbsp;&nbsp; We praise your name for ever. <br>
V.&nbsp;&nbsp;&nbsp; Lord, keep us from all sin today; <br>
R.&nbsp;&nbsp;&nbsp; Have mercy upon us, Lord, have mercy. <br>
V.&nbsp;&nbsp;&nbsp; Lord, show us your love and mercy; <br>
R.&nbsp;&nbsp;&nbsp; For we put our trust in you. <br>
V.&nbsp;&nbsp;&nbsp; In you, Lord, is our hope; <br>
R.&nbsp;&nbsp;&nbsp; And we shall never hope in vain. </p>
