<p class = "old_style">Surely, it is God who saves me; *
<br>
&nbsp;&nbsp;&nbsp; I will trust in him and not be afraid. <br>
For the Lord is my stronghold and my sure defense, * <br>
&nbsp;&nbsp;&nbsp; and he will be my Savior. <br>
Therefore you shall draw water with rejoicing * <br>
&nbsp;&nbsp;&nbsp; from the springs of salvation. <br>
And on that day you shall say, * <br>
&nbsp;&nbsp;&nbsp; Give thanks to the Lord and call upon his
Name; <br>
Make his deeds known among the peoples; * <br>
&nbsp;&nbsp;&nbsp; see that they remember that his Name is
exalted. <br>
Sing the praises of the Lord, for he has done great things, * <br>
&nbsp;&nbsp;&nbsp; and this is known in all the world. <br>
Cry aloud, inhabitants of Zion, ring out your joy, * <br>
&nbsp;&nbsp;&nbsp; for the great one in the midst of you is the
Holy One of Israel. </p>

<p class = "old_style">Glory to the Father, and to the
Son, and to the Holy Spirit: * <br>
&nbsp;&nbsp;&nbsp; as it was in the beginning, is now, and will
be for ever. Amen. </p>
