<p class = "normal2 directions"><em>One or more sections
of this Canticle may be used. Whatever the <br>
selection, it begins with the Invocation and concludes with the
Doxology.</em></p>

<p class = "normal"><em>Invocation </em></p>

<p class = "normal">Glorify the Lord, all you works
of the Lord, * <br>
&nbsp;&nbsp;&nbsp; praise him and highly exalt him for ever. <br>
In the firmament of his power, glorify the Lord, * <br>
&nbsp;&nbsp;&nbsp; praise him and highly exalt him for ever. </p>

<p class = "normal"><em>I</em>&nbsp;&nbsp;&nbsp; <em>The
Cosmic Order</em> </p>

<p class = "normal">Glorify the Lord, you angels and
all powers of the Lord, * <br>
&nbsp;&nbsp;&nbsp; O heavens and all waters above the heavens. <br>
Sun and moon and stars of the sky, glorify the Lord, * <br>
&nbsp;&nbsp;&nbsp; praise him and highly exalt him for ever. </p>

<p class = "normal">Glorify the Lord, every shower of
rain and fall of dew, * <br>
&nbsp;&nbsp;&nbsp; all winds and fire and heat. <br>
Winter and Summer, glorify the Lord, * <br>
&nbsp;&nbsp;&nbsp; praise him and highly exalt him for ever. </p>

<p class = "normal">Glorify the Lord, O chill and
cold, * <br>
drops of dew and flakes of snow. <br>
Frost and cold, ice and sleet, glorify the Lord, * <br>
&nbsp;&nbsp;&nbsp; praise him and highly exalt him for ever. </p>

<p class = "normal">Glorify the Lord, O nights and
days, * <br>
&nbsp;&nbsp;&nbsp; O shining light and enfolding dark. <br>
Storm clouds and thunderbolts, glorify the Lord, * <br>
&nbsp;&nbsp;&nbsp; praise him and highly exalt him for ever. </p>

<p class = "normal"><em>II&nbsp;&nbsp;&nbsp; The
Earth and its Creatures </em></p>

<p class = "normal">Let the earth glorify the Lord, *
<br>
&nbsp;&nbsp;&nbsp; praise him and highly exalt him for ever. <br>
Glorify the Lord, O mountains and hills, <br>
and all that grows upon the earth, * <br>
&nbsp;&nbsp;&nbsp; praise him and highly exalt him for ever.</p>

<p class = "normal">Glorify the Lord, O springs of
water, seas, and streams, * <br>
&nbsp;&nbsp;&nbsp; O whales and all that move in the waters. <br>
All birds of the air, glorify the Lord, * <br>
&nbsp;&nbsp;&nbsp; praise him and highly exalt him for ever.</p>

<p class = "normal">Glorify the Lord, O beasts of the
wild, * <br>
&nbsp;&nbsp;&nbsp; and all you flocks and herds. <br>
O men and women everywhere, glorify the Lord, * <br>
&nbsp;&nbsp;&nbsp; praise him and highly exalt him for ever. </p>

<p class = "normal"><em>III&nbsp;&nbsp;&nbsp; The
People of God </em></p>

<p class = "normal">Let the people of God glorify the
Lord, * <br>
&nbsp;&nbsp;&nbsp; praise him and highly exalt him for ever. <br>
Glorify the Lord, O priests and servants of the Lord, * <br>
&nbsp;&nbsp;&nbsp; praise him and highly exalt him for ever. </p>

<p class = "normal">Glorify the Lord, O spirits and
souls of the righteous, * <br>
&nbsp;&nbsp;&nbsp; praise him and highly exalt him for ever. <br>
You that are holy and humble of heart, glorify the Lord, * <br>
&nbsp;&nbsp;&nbsp; praise him and highly exalt him for ever. </p>

<p class = "normal"><em>Doxology </em></p>

<p class = "normal">Let us glorify the Lord: Father,
Son, and Holy Spirit; * <br>
&nbsp;&nbsp;&nbsp; praise him and highly exalt him for ever. <br>
In the firmament of his power, glorify the Lord, * <br>
&nbsp;&nbsp;&nbsp; praise him and highly exalt him for ever. </p>
