<p class = "old_style">Glory to you, Lord God of our
fathers; * <br>
&nbsp;&nbsp;&nbsp; you are worthy of praise; glory to you. <br>
Glory to you for the radiance of your holy Name; * <br>
&nbsp;&nbsp;&nbsp; we will praise you and highly exalt you for
ever.</p>

<p class = "old_style">Glory to you in the splendor of
you temple; * <br>
&nbsp;&nbsp;&nbsp; on the throne of your majesty, glory to you. <br>
Glory to you, seated between the Cherubim; * <br>
&nbsp;&nbsp;&nbsp; we will praise you and highly exalt you for
ever.</p>

<p class = "old_style">Glory to you, beholding the
depths; * <br>
&nbsp;&nbsp;&nbsp; in the high vault of heaven, glory to you. <br>
Glory to you, Father, Son, and Holy Spirit; * <br>
&nbsp;&nbsp;&nbsp; we will praise you and highly exalt you for
ever.<br>
</p>
