<p class = "old_style">O Lord and Ruler of the hosts of
heaven, * <br>
&nbsp;&nbsp;&nbsp; God of Abraham, Isaac, and Jacob, <br>
&nbsp;&nbsp;&nbsp; and of all their righteous offspring: <br>
You made the heavens and the earth, * <br>
&nbsp;&nbsp;&nbsp; with all their vast array. </p>


<p class = "old_style">All things quake with fear at
your presence; * <br>
&nbsp;&nbsp;&nbsp; they tremble because of your power. <br>
But your merciful promise is beyond all measure; * <br>
&nbsp;&nbsp;&nbsp; it surpasses all that our minds can fathom. <br>
O Lord, you are full of compassion, * <br>
&nbsp;&nbsp;&nbsp; long-suffering, and abounding in mercy. <br>
You hold back your hand; * <br>
&nbsp;&nbsp;&nbsp; you do not punish as we deserve. <br>
In your great goodness, Lord, <br>
you have promised forgiveness to sinners, * <br>
&nbsp;&nbsp;&nbsp; that they may repent of their sin and be
saved. <br>
And now, O Lord, I bend the knee of my heart, * <br>
&nbsp;&nbsp;&nbsp; and make my appeal, sure of your gracious
goodness. <br>
I have sinned, O Lord, I have sinned, * <br>
&nbsp;&nbsp;&nbsp; and I know my wickedness only too well. <br>
Therefore I make this prayer to you: * <br>
&nbsp;&nbsp;&nbsp; Forgive me, Lord, forgive me. <br>
Do not let me perish in my sin, * <br>
&nbsp;&nbsp;&nbsp; nor condemn me to the depths of the earth. <br>
For you, O Lord, are the God of those who repent, * <br>
&nbsp;&nbsp;&nbsp; and in me you will show forth your goodness. <br>
Unworthy as I am, you will save me, <br>
in accordance with your great mercy, * <br>
&nbsp;&nbsp;&nbsp; and I will praise you without ceasing all the
days of my life. <br>
For all the powers of heaven sing your praises, * <br>
&nbsp;&nbsp;&nbsp; and yours is the glory to ages of ages. Amen.</p>
