<p class = "old_style">My soul proclaims the greatness
of the Lord, <br>
my spirit rejoices in God my Savior; * <br>
&nbsp;&nbsp;&nbsp; for he has looked with favor on his lowly
servant.</p>

<p class = "old_style">From this day all generations
will call me blessed: * <br>
&nbsp;&nbsp;&nbsp; the Almighty has done great things for me, <br>
&nbsp;&nbsp;&nbsp; and holy is his Name. <br>
He has mercy on those who fear him * <br>
&nbsp;&nbsp;&nbsp; in every generation. <br>
He has shown the strength of his arm, * <br>
&nbsp;&nbsp;&nbsp; he has scattered the proud in their conceit. <br>
He has cast down the mighty from their thrones, *<br>
&nbsp;&nbsp;&nbsp; and has lifted up the lowly. <br>
He has filled the hungry with good things, * <br>
&nbsp;&nbsp;&nbsp; and the rich he has sent away empty. <br>
He has come to the help of his servant Israel, * <br>
&nbsp;&nbsp;&nbsp; for he has remembered his promise of mercy, <br>
The promise he made to our fathers, * <br>
&nbsp;&nbsp;&nbsp; to Abraham and his children for ever. </p>

<p class = "old_style">Glory to the Father, and to the
Son, and to the Holy Spirit: * <br>
&nbsp;&nbsp;&nbsp; as it was in the beginning, is now, and will
be for ever. Amen. </p>
