<p class = "old_style">Blessed be the Lord, the God of
Israel; * <br>
&nbsp;&nbsp;&nbsp; he has come to his people and set them free. <br>
He has raised up for us a mighty savior, * <br>
&nbsp;&nbsp;&nbsp; born of the house of his servant David. <br>
Through his holy prophets he promised of old, <br>
that he would save us from our enemies, * <br>
&nbsp;&nbsp;&nbsp; from the hands of all who hate us. <br>
He promised to show mercy to our fathers * <br>
&nbsp;&nbsp;&nbsp; and to remember his holy covenant. <br>
This was the oath he swore to our father Abraham, * <br>
&nbsp;&nbsp;&nbsp; to set us free from the hands of our enemies, <br>
Free to worship him without fear, * <br>
&nbsp;&nbsp;&nbsp; holy and righteous in his sight <br>
&nbsp;&nbsp;&nbsp; all the days of our life. </p>


<p class = "old_style">You, my child, shall be called
the prophet of the Most High, * <br>
&nbsp;&nbsp;&nbsp; for you will go before the Lord to prepare his
way, <br>
To give his people knowledge of salvation * <br>
&nbsp;&nbsp;&nbsp; by the forgiveness of their sins. <br>
In the tender compassion of our God * <br>
&nbsp;&nbsp;&nbsp; the dawn from on high shall break upon us, <br>
To shine on those who dwell in darkness and the <br>
&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;shadow of death, * <br>
&nbsp;&nbsp;&nbsp; and to guide our feet into the way of peace. </p>

<p class = "old_style">Glory to the Father, and to the
Son, and to the Holy Spirit: * <br>
&nbsp;&nbsp;&nbsp; as it was in the beginning, is now, and will
be for ever. Amen. </p>
