<p class = "old_style">Lord, you now have set your
servant free * <br>
&nbsp;&nbsp;&nbsp; to go in peace as you have promised; <br>
For these eyes of mine have seen the Savior, * <br>
&nbsp;&nbsp;&nbsp; whom you have prepared for all the world to
see: <br>
A Light to enlighten the nations, * <br>
&nbsp;&nbsp;&nbsp; and the glory of your people Israel. </p>

<p class = "old_style">Glory to the Father, and to the
Son, and to the Holy Spirit: * <br>
&nbsp;&nbsp;&nbsp; as it was in the beginning, is now, and will
be for ever. Amen. </p>
