<p class = "normal">Splendor and honor and kingly
power * <br>
&nbsp;&nbsp;&nbsp; are yours by right, O Lord our God, <br>
For you created everything that is, * <br>
&nbsp;&nbsp;&nbsp; and by your will they were created and have
their being; </p>

<p class = "normal">And yours by right, O Lamb that
was slain, * <br>
&nbsp;&nbsp;&nbsp; for with your blood you have redeemed for God,
<br>
From every family, language, people, and nation, * <br>
&nbsp;&nbsp;&nbsp; a kingdom of priests to serve our God. </p>

<p class = "normal">And so, to him who sits upon the
throne, * <br>
&nbsp;&nbsp;&nbsp; and to Christ the Lamb, <br>
Be worship and praise, dominion and splendor, * <br>
&nbsp;&nbsp;&nbsp; for ever and for evermore. </p>
