<p class = "normal">O ruler of the universe, Lord
God, <br>
great deeds are they that you have done, * <br>
&nbsp;&nbsp;&nbsp; surpassing human understanding. <br>
Your ways are ways of righteousness and truth, * <br>
O King of all the ages. </p>

<p class = "normal">Who can fail to do you homage,
Lord, <br>
and sing the praises of your Name? * <br>
&nbsp;&nbsp;&nbsp; for you only are the Holy One. <br>
All nations will draw near and fall down before you, * <br>
&nbsp;&nbsp;&nbsp; because your just and holy works have been
revealed.</p>

<p class = "normal">Glory to the Father, and to the
Son, and to the Holy Spirit: * <br>
&nbsp;&nbsp;&nbsp; as it was in the beginning, is now, and will
be for ever. Amen. </p>
