<p class = "normal">Glory to God in the highest, <br>
&nbsp;&nbsp;&nbsp; and peace to his people on earth. </p>

<p class = "normal">Lord God, heavenly King, <br>
almighty God and Father, </p>

<p class = "normal">&nbsp;&nbsp;&nbsp; we worship
you, we give you thanks, <br>
&nbsp;&nbsp;&nbsp; we praise you for your glory. </p>

<p class = "normal">Lord Jesus Christ, only Son of
the Father, <br>
Lord God, Lamb of God, <br>
you take away the sin of the world: <br>
&nbsp;&nbsp;&nbsp; have mercy on us; <br>
you are seated at the right hand of the Father: <br>
&nbsp;&nbsp;&nbsp; receive our prayer. </p>

<p class = "normal">For you alone are the Holy One, <br>
you alone are the Lord, <br>
you alone are the Most High,<br>
&nbsp;&nbsp;&nbsp; Jesus Christ, <br>
&nbsp;&nbsp;&nbsp; with the Holy Spirit, <br>
&nbsp;&nbsp;&nbsp; in the glory of God the Father. Amen.</p>
