<p class = "normal">You are God: we praise you; <br>
You are the Lord; we acclaim you; <br>
You are the eternal Father: <br>
All creation worships you. <br>
To you all angels, all the powers of heaven, <br>
Cherubim and Seraphim, sing in endless praise: <br>
&nbsp;&nbsp;&nbsp; Holy, holy, holy Lord, God of power and might,
<br>
&nbsp;&nbsp;&nbsp; heaven and earth are full of your glory. <br>
The glorious company of apostles praise you. <br>
The noble fellowship of prophets praise you. <br>
The white-robed army of martyrs praise you. <br>
Throughout the world the holy Church acclaims you; <br>
&nbsp;&nbsp;&nbsp; Father, of majesty unbounded, <br>
&nbsp;&nbsp;&nbsp; your true and only Son, worthy of all worship,
<br>
&nbsp;&nbsp;&nbsp; and the Holy Spirit, advocate and guide. </p>

<p class = "normal">You, Christ, are the king of
glory, <br>
the eternal Son of the Father. <br>
When you became man to set us free <br>
you did not shun the Virgin's womb. <br>
You overcame the sting of death <br>
and opened the kingdom of heaven to all believers. <br>
You are seated at God's right hand in glory. <br>
We believe that you will come and be our judge. <br>
&nbsp;&nbsp;&nbsp; Come then, Lord, and help your people, <br>
&nbsp;&nbsp;&nbsp; bought with the price of your own blood, <br>
&nbsp;&nbsp;&nbsp; and bring us with your saints <br>
&nbsp;&nbsp;&nbsp; to glory everlasting. </p>
