body {
    margin-left: 20%;
    margin-right: 35%;
    padding: 1%;
    font-family:  "Goudy Old Style", sans-serif;
}

.normal {
    font-size: 1.2rem;
}

.normal2 {
    /*font-size: 2px;*/
    font-size: 1rem;
}

.normal3 {
    /*font-size: 3px;*/
    font-size: 1.4rem;
}

.normal5 {
    /*font-size: 5px;*/
    font-size: 2.2rem;
}

.normal4 {
    /*font-size: 4px;*/
    font-size: 1.8rem;
}

.copyright {
    font-size: .9rem;
}

.directions {
    display: none;
}

/*styles for classes from Bible.org*/
.s1 {
    font-size: 1.3rem;
}

.d {
    font-size: 1.1rem;
}

.q1 {
    font-size: 1.2rem;
}
.q2 {
    margin-left: 1.5rem;
    font-size: 1.2rem;
}

.q3 {
    margin-left: 3rem;
    font-size: 1.2rem;
}

.p {
    text-indent: 1rem;
    font-size: 1.2rem;
}

.qs {
    font-style: italic;
    margin-left: 2rem;
}

.nd {
    font-variant: small-caps;
}

.m {
    text-align: left;
    font-size: 1.2rem;
}

.v {
    font-size: .4rem;
    margin-left: .4rem;
}
