p {
    font-family: "Goudy Old Style";
}

.old_style {
    font-family: "Goudy Old Style";
}

.old_style2 {
    font-family: "Goudy Old Style";
    /*font-size: 2px;*/
    font-size: .8em;
}

.old_style3 {
    font-family: "Goudy Old Style";
    /*font-size: 3px;*/
    font-size: 1.2em;
}

.old_style5 {
    font-family: "Goudy Old Style";
    /*font-size: 5px;*/
    font-size: 2em;
}

.old_style4 {
    font-family: "Goudy Old Style";
    /*font-size: 4px;*/
    font-size: 1.6em;
}

.copyright {
    font-family: "Goudy Old Style";
    font-size: .7em;
}
/*styles from Bible.org*/
.s1 {
    font-family: "Goudy Old Style";
    font-size: 1.1em;
}

.d {
    font-family: "Goudy Old Style" ;
    font-size: .9em;
}

.q1 {
    font-family: "Goudy Old Style";
}
.q2 {
    font-family: "Goudy Old Style";
    margin-left: 1.5em;
}

.q3 {
    font-family: "Goudy Old Style";
    margin-left: 3em;
}

.p {
    font-family: "Goudy Old Style";
    text-indent: 1em;
}

.qs {
    font-family: "Goudy Old Style";
    font-style: italic;
    margin-left: 2em;
}

.nd {
    font-variant: small-caps;
}

.m {
    text-align: left;
}

.v {
    font-size: .3em;
    margin-left: .3em;
}