<!DOCTYPE html>

<html>
<head>
    <title>Aerial Valor</title>
    <link type="text/css" rel="stylesheet" href="/static/main.css" />
    <link rel="shortcut icon" href="/favicon.ico">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" ></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var username = "aerial.valor.326";
            var hostname = "gmail.com";
            var linktext = username + "@" + hostname;
            var contact = $("<a>" + linktext + "</a>");
            contact.attr("href", "mailto:" + linktext);
            $("#contact").append(contact);
        });
    </script>
</head>

<body>
    <p>This a site for testing out a variety of ideas. Explore!</p>
    <h2>Current projects</h2>
    <ul><li>
        <a href="/prayer/morningprayer">Morning Prayer</a>
    </li></lin></ul>
    <div>
        We're on GitHub at
        <a href="https://github.com/waternova/aerial-valor-326">
            https://github.com/waternova/aerial-valor-326
        </a>
    </div>
    <div id = "contact">Alternatively, feedback appreciated at: </div>
</body>



</html>
