<!DOCTYPE html>

<html>
<head>
    <meta name = "viewport" content = "width=device-width">
    <title>Morning Prayer: Rite Two</title>
    <link type="text/css" rel="stylesheet" href="/static/main.css" />
    <link rel="shortcut icon" href="/favicon.ico">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" ></script>
    <script>
        $(document).ready(function() {
            $("#setting-gear").click(function() {
                $("#settings").toggle();
            });
        });
        {{fums_script | safe}}
    </script>
</head>

<body>
    <div class="header">
        <a href="/"><img src="/static/home-6-24.png" class="left"></a>
        <span class="header-text normal5">Daily Morning Prayer</span>
        <img src="/static/gear-24.png" id = "setting-gear" class="right">
        <div id = "settings">
            <form id="date_input" method="get">
                <span class="header-text">Date: </span>
                <input type="date" name="date" value="YYYY-MM-DD">
                <input type="submit" value="Go">
            </form>
        </div>
    </div>

    <div class="main_prayer">
    <div style="height: 10px"></div>
<span class = directions>
<p class = "normal"><b><i>Concerning the Service</i></b>
</p>

<p class = "normal2">In the Daily Office, the
term &quot;Officiant&quot; is used to denote the person,<br>
clerical or lay, who leads the Office. </p>

<p class = "normal2">It is appropriate that
other persons be assigned to read the Lessons, and <br>
to lead other parts of the service not assigned to the officiant.
The bishop, <br>
when present, apporpriately concludes the Office with a blessing.
</p>

<p class = "normal2">At celebrations of the
Holy Eucharist, the Order for Morning or Evening <br>
Prayer may be used in place of all that precedes the Offertory. </p>

<p class = "normal2">Additional Directions
are on page 141. </p>

<p class = "normal"><br>
</p>

</span>

<p class = "normal5 directions"><b>Daily Morning Prayer: Rite Two </b></p>

<p class = "normal2 directions"><a name=sentences><i>The
Officiant begins the service with one or more of these sentences
of
Scripture, or with the versicle &quot;Lord, open our lips&quot;
on page 80.</i></a></p>

<a name="Sentences"></a>
{% if season == "Easter" %}
<p class = "normal">
    Alleluia! Christ is risen.<br>
    <i>The Lord is risen indeed. Alleluia!</i>
</p>
{% endif %}

<p class = "normal">{{opening_sentences | safe}}&nbsp;&nbsp;&nbsp;
    <span class = "normal2"><i>{{opening_verse}}</i></p>
<p>&nbsp;</p>


<p class="directions">&nbsp;</p>

<p class = "normal2 directions"><em>The following
Confession of Sin may then be said; or the Office may
continue at once with &quot;Lord, open our lips.&quot;</em> </p>

<p>
    <a name=confession>
        <strong>
            <a name="Confession"></a>Confession of Sin
        </strong>
    </a>
</p>

<p class = "normal2 directions"><em>The Officiant says
to the people</em></p>

<p class = "normal">{{confession}}
</p>

<p class = "normal2 directions"><em>or this</em></p>

<p class = "normal2 directions"><em>Silence may be kept.</em> </p>

<p class = "normal2 directions"><em>Officiant and People
together, all kneeling</em></p>

<p class = "normal">Most merciful God, <br>
we confess that we have sinned against you <br>
in thought, word, and deed, <br>
by what we have done, <br>
and by what we have left undone. <br>
We have not loved you with our whole heart; <br>
we have not loved our neighbors as ourselves. <br>
We are truly sorry and we humbly repent. <br>
For the sake of your Son Jesus Christ, <br>
have mercy on us and forgive us; <br>
that we may delight in your will, <br>
and walk in your ways, <br>
to the glory of your Name. Amen. </p>

<p>&nbsp;</p>





<p align="right">&nbsp;</p>

<p class = "normal2 directions"><em>The Priest alone
stands and says</em></p>

<p class = "normal">Almighty God have mercy on us,
forgive us all your sins
through our Lord Jesus Christ, strengthen us in all
goodness, and by the power of the Holy Spirit keep us in
eternal life. <em>Amen.</em> </p>

<p class = "normal2 directions"><em>A deacon or lay
person using the preceding form remains kneeling, and
substitutes &quot;us&quot; for &quot;you&quot; and
&quot;our&quot; for &quot;your.&quot;</em> </p>

<p>&nbsp;</p>

<p class = "normal4"><a name=invpsal><strong>The
Invitatory and Psalter</strong></a></p>

<p class = "normal2 directions"><em>All stand </em></p>

<p class = "normal">
    <span class = "directions normal2">
        <em>Officiant</em>&nbsp;&nbsp;&nbsp;
    </span>
    Lord, open our lips. <br>
    <span class = "directions normal2">
        <em>People</em> &nbsp;&nbsp;&nbsp; &nbsp;
    </span>
    And our mouth shall proclaim your praise. <br>
</p>

<p class = "normal2 directions"><em>Officiant and People
</em></p>

<p class = "normal">
    Glory to the Father, and to the Son, and to the Holy Spirit: as
    it was in the beginning, is now, and will be for ever. Amen.
    {% if season != "Lent" %}
        Alleluia.
    {% endif %}
</p>

<p class = "normal2">
    <span class="directions">
        <em>Except in Lent, add </em>&nbsp;&nbsp;&nbsp;Alleluia
    </span>

 </p>

<p class = "normal2 directions"><em>Then follows one of
the Invitatory Psalms, Venite or Jubilate. </em></p>

<p class = "added normal">
    <strong>Invitatory</strong>
</p>

<p class = "normal2 directions"><em>One of the following
Antiphons may be sung or said with the Invitatory <br>
Psalm </em></p>


<p class = "normal">{{antiphon}}</p>

{{invit_psalm | safe}}

<p class = "normal2 directions"><em>Then follows </em></p>

<p class = "normal"><strong>Psalms</strong> </p>

{{psalms | safe}}

<p class = "normal2 directions"><em>At the end of the
Psalms is sung or said</em></p>

<p class = "normal">Glory to the Father, and to the
Son, and to the Holy Spirit: * <br>
&nbsp;&nbsp;&nbsp; as it was in the beginning, is now, and will
be for ever. Amen. </p>

<p>&nbsp;</p>

<p><a name=lessons><span class = "normal4"><strong><a name="lessons"></a>The
Lessons</strong></span><strong><br>
</strong></p>

<p class = "normal2 directions"><em>One or two lessons,
as appointed, are read, the Reader first saying </em></p>

<p class = "normal directions">A Reading (Lesson) from
_______________. </p>

<p class = "normal2 directions"><em>A citation giving
chapter and verse may be added. </em></p>


{{reading1 | safe}}

<p class = "normal5"><strong>{{canticle1["number"]}}</strong>&nbsp;&nbsp;&nbsp;
    <strong>{{canticle1["title"]}}</strong>&nbsp;&nbsp;&nbsp; <em>{{canticle1["latin_title"]}}</em>
    <br>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; <span class = "normal2"><em>{{canticle1.get("verse", "")}}</em></span>
</p>

{{canticle1["text"] | safe}}

<br>
{{reading2 | safe}}

<p class = "normal5"><strong>{{canticle2["number"]}}</strong>&nbsp;&nbsp;&nbsp;
    <strong>{{canticle2["title"]}}</strong>&nbsp;&nbsp;&nbsp; <em>{{canticle2["latin_title"]}}</em>
    <br>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; <span class = "normal2"><em>{{canticle2.get("verse", "")}}</em></span>
</p>

{{canticle2["text"] | safe}}

<br>
{{reading3 | safe}}

<p class = "normal directions">After each Lesson the Reader may
say</p>

<p class = "normal directions">
    &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;
    The Word of the Lord. <br>
    <em>Answer</em>&nbsp; &nbsp;&nbsp; Thanks be to God.
</p>

<p class = "normal2 directions"><em>Or the Reader may
say</em>&nbsp;&nbsp;&nbsp;
Here ends the Lesson (Reading). </p>

<p class = "normal2 directions"><em>Silence may be kept
    after each Reading. One of the following Canticles, <br>
    or one of those on pages 47-52 (Canticles 1-7), is sung or said
    after <br>
    each Reading. If three Lessons are used, the Lesson from the
    Gospel is <br>
    read after the second Canticle.</em></p>

<p class = "normal"><br>
    <a name=acreed><strong><a name="acreed"></a>
        The Apostles' Creed</strong></a>
</p>

<p class = "normal2 directions"><em>Officiant and People
together, all standing</em></p>

<p class = "normal">
    I believe in God, the Father
    almighty, <br>
    &nbsp;&nbsp;&nbsp; creator of heaven and earth; <br>
    I believe in Jesus Christ, his only Son, our Lord. <br>
    &nbsp;&nbsp;&nbsp; He was conceived by the power of the Holy
    Spirit <br>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; and born of the Virgin
    Mary. <br>
    &nbsp;&nbsp;&nbsp; He suffered under Pontius Pilate, <br>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; was crucified, died, and
    was buried. <br>
    &nbsp;&nbsp;&nbsp; He descended to the dead. <br>
    &nbsp;&nbsp;&nbsp; On the third day he rose again. <br>
    &nbsp;&nbsp;&nbsp; He ascended into heaven, <br>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; and is seated at the right
    hand of the Father. <br>
    &nbsp;&nbsp;&nbsp; He will come again to judge the living and the
    dead. <br>
    I believe in the Holy Spirit, <br>
    &nbsp;&nbsp;&nbsp; the holy catholic Church, <br>
    &nbsp;&nbsp;&nbsp; the communion of saints, <br>
    &nbsp;&nbsp;&nbsp; the forgiveness of sins<br>
    &nbsp;&nbsp;&nbsp; the resurrection of the body, <br>
    &nbsp;&nbsp;&nbsp; and the life everlasting. Amen.
</p>

<p>
    <a name=prayers>
        <span class = "normal4">
            <strong><a name="prayers"></a>The Prayers</strong>
        </span>
    </a>
</p>

<p class = "normal2 directions"><em><br>
    The People stand or kneel </em>
</p>

<p class = "normal">
    <span class="directions normal2">
        <em>Officiant</em>
    </span>
    &nbsp;&nbsp;&nbsp; The Lord be with you. <br>
    <span class="directions normal2">
        <em>People</em>
    </span>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;And also with you. <br>
    <span class="directions">
        <em>Officiant</em>
    </span>
    &nbsp;&nbsp;&nbsp; Let us pray. </p>

<p class = "normal2 directions"><em>Officiant and People
</em></p>
<div align="center" class="normal">

<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td>Our Father, who art in
        heaven,<br>
        &nbsp;&nbsp;&nbsp; hallowed be thy Name, <br>
        &nbsp;&nbsp;&nbsp; thy kingdom come, <br>
        &nbsp;&nbsp;&nbsp; thy will be done, <br>
        &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; on earth as it is
        in heaven. <br>
        Give us this day our daily bread. <br>
        And forgive us our trespasses, <br>
        &nbsp;&nbsp;&nbsp; as we forgive those <br>
        &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; who trespass
        against us. <br>
        And lead us not into temptation, <br>
        &nbsp;&nbsp;&nbsp; but deliver us from evil. <br>
        For thine is the kingdom, <br>
        &nbsp;&nbsp;&nbsp; and the power, and the glory, <br>
        &nbsp;&nbsp;&nbsp; for ever and ever. Amen.</td>
        <td>Our Father in heaven, <br>
        &nbsp;&nbsp;&nbsp; hallowed be your Name, <br>
        &nbsp;&nbsp;&nbsp; your kingdom come, <br>
        &nbsp;&nbsp;&nbsp; your will be done, <br>
        &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; on earth as in
        heaven. <br>
        Give us today our daily bread. <br>
        Forgive us our sins <br>
        &nbsp;&nbsp;&nbsp; as we forgive those <br>
        &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; who sin against us.
        <br>
        Save us from the time of trial, <br>
        &nbsp;&nbsp;&nbsp; and deliver us from evil. <br>
        For the kingdom, the power, <br>
        &nbsp;&nbsp;&nbsp; and the glory are yours, <br>
        &nbsp;&nbsp;&nbsp; now and for ever. Amen.</td>
    </tr>
</table>
</div>

<p class = "added normal">
    <strong>Suffrages</strong>
</p>

<p class = "normal2 directions"><em>Then follows one of
these sets of Suffrages </em></p>

{{suffrages | safe}}

<p class = "normal2 directions"><em>The Officiant then
says one or more of the following Collects </em></p>

<p class = "normal directions"><em>The Collect of the Day </em></p>

{% for collect in collects %}

<p class = "normal"><em>{{collect['Title']}}</em></p>

<p class = "normal">{{collect['Text']}} <em>Amen.</em> </p>

{% endfor %}

<p class = "added normal">
    <em>A Prayer for Mission</em>
</p>

<p class = "normal2 directions"><em>Then, unless the
Eucharist or a form of general intercession is to follow,
one of these prayers for mission is added </em></p>

<p class = "normal">
    <a name="Mission"></a>{{mission_prayer}} <em>Amen.</em>
</p>

<p class = "normal2 directions"><em>or this </em></p>

<p class = "normal2 directions"><em>or the following</em> </p>

<p class = "normal2 directions"><em>Here may be sung a
hymn or anthem.</em> </p>

<p class = "normal2 directions"><em>Authorized
intercessions and thanksgivings may follow.</em> </p>

<p class = "normal">&nbsp;</p>

<p class = "normal2 directions"><em>Before the close of
the Office one or both of the following may be used</em> </p>

{{closing_prayer | safe}}

<p class = "normal2 directions"><em>Then may be said </em></p>

<p class = "normal">Let us bless the Lord.
    {% if season == "Easter" %}
    Alleluia, alleluia.
    {% endif %}
    <br>
    Thanks be to God.
    {% if season == "Easter" %}
    Alleluia, alleluia.
    {% endif %}
</p>

<p class = "normal2 directions"><em>From Easter Day
through the Day of Pentecost &quot;Alleluia, alleluia&quot; may <br>
be added to the preceding versicle and response. </em></p>

<p class = "added normal">
    <strong>Closing Sentences</strong>
</p>

<p class = "normal2 directions"><em>The Officiant may
then conclude with one of the following</em></p>

<p class = "normal">
    {{closing_sentences['text']}} <em>Amen.</em>&nbsp;&nbsp;&nbsp;
    <span class = "normal2">
        <em>{{closing_sentences['reference']}}</em>
    </span>
</p>
</div>
</body>
</html>
