<p class = "normal">
    <em><a name="Thanksgiving"></a>The General Thanksgiving</em>
</p>

<p class = "normal2 directions"><em>Officiant and People
</em></p>

<p class = "normal">Almighty God, Father of all
mercies, <br>
we your unworthy servants give you humble thanks <br>
for all your goodness and loving-kindness <br>
to us and to all whom you have made. <br>
We bless you for our creation, preservation, <br>
and all the blessings of this life; <br>
but above all for your immeasurable love <br>
in the redemption of the world by our Lord Jesus Christ; <br>
for the means of grace, and for the hope of glory. <br>
And, we pray, give us such an awareness of your mercies, <br>
that with truly thankful hearts we may show forth your praise, <br>
not only with our lips, but in our lives, <br>
by giving up our selves to your service, <br>
and by walking before you <br>
in holiness and righteousness all our days; <br>
through Jesus Christ our Lord, <br>
to whom, with you and the Holy Spirit, <br>
be honor and glory throughout all ages. Amen.</p>
