<p class = "normal"><em>A Prayer of St. Chrysostom </em></p>

<p class = "normal">Almighty God, you have given us
grace at this time with one <br>
accord to make our common supplication to you; and you <br>
have promised through your well-beloved Son that when two <br>
or three are gathered together in his Name you will be in the <br>
midst of them: Fulfill now, O Lord, our desires and petitions <br>
as may be best for us; granting us in this world knowledge of <br>
your truth, and in the age to come life everlasting. <em>Amen.</em></p>
