<p class = "normal2 directions"><em>In Easter Week, in
place of an Invitatory Psalm, the following is sung or <br>
said. It may also be used daily until the Day of Pentecost.</em></p>

<p class = "normal"><strong>Christ our Passover </strong>&nbsp;&nbsp;&nbsp;<em>Pascha
nostrum</em> <br>
<span class = "normal2"><em>1 Corinthians
5:7-8; Romans 6:9-11; 1 Corinthians 15:20-22 </em></p>

<p class = "normal">Alleluia. <br>
Christ our Passover has been sacrificed for us; * <br>
&nbsp;&nbsp;&nbsp; therefore let us keep the feast, <br>
Not with old leaven, the leaven of malice and evil, * <br>
&nbsp;&nbsp;&nbsp; but with the unleavened bread of sincerity and
truth. Alleluia. </p>

<p class = "normal">Christ being raised from the dead
will never die again; * <br>
&nbsp;&nbsp;&nbsp; death no longer has dominion over him. <br>
The death that he died, he died to sin, once for all; * <br>
&nbsp;&nbsp;&nbsp; but the life he lives, he lives to God. <br>
So also consider yourselves dead to sin, * <br>
&nbsp;&nbsp;&nbsp; and alive to God in Jesus Christ our Lord.
Alleluia.</p>

<p class = "normal">Christ has been raised from the
dead, * <br>
&nbsp;&nbsp;&nbsp; the first fruits of those who have fallen
asleep. <br>
For since by a man came death, * <br>
&nbsp;&nbsp;&nbsp; by a man has come also the resurrection of the
dead. <br>
For as in Adam all die, * <br>
&nbsp;&nbsp;&nbsp; so in Christ shall all be made alive.
Alleluia.</p>
