<p class = "normal"><strong>Jubilate</strong>
&nbsp;&nbsp;<span class = "normal2"><em>&nbsp;Psalm
100</em> </p>

<p class = "normal">Be joyful in the Lord, all you
lands; * <br>
&nbsp;&nbsp; &nbsp;serve the Lord with gladness <br>
&nbsp; &nbsp;&nbsp;and come before his presence with a song. </p>

<p class = "normal">Know this: The Lord himself is
God; * <br>
&nbsp;&nbsp;&nbsp; he himself has made us, and we are his; <br>
&nbsp;&nbsp;&nbsp; we are his people and the sheep of his
pasture.</p>

<p class = "normal">Enter his gates with
thanksgiving; <br>
go into his courts with praise; * <br>
&nbsp;&nbsp;&nbsp; give thanks to him and call upon his Name. </p>

<p class = "normal">For the Lord is good; <br>
his mercy is everlasting; * <br>
&nbsp;&nbsp; &nbsp;and his faithfulness endures from age to age. </p>
