<p class = "normal"><strong>Venite</strong>
&nbsp;&nbsp;<span class = "normal2"><em>&nbsp;Psalm
95:1-7</em> </p>

<p class = "normal">Come, let us sing to the Lord; * <br>
&nbsp;&nbsp;&nbsp;let us shout for joy to the Rock of our
salvation. <br>
Let us come before his presence with thanksgiving * <br>
&nbsp;&nbsp;&nbsp;and raise a loud shout to him with psalms. </p>

<p class = "normal">For the Lord is a great God, * <br>
&nbsp;&nbsp;&nbsp;and a great King above all gods. <br>
In his hand are the caverns of the earth, * <br>
&nbsp;&nbsp;&nbsp;and the heights of the hills are his also. <br>
The sea is his, for he made it, * <br>
&nbsp;&nbsp;&nbsp;and his hands have molded the dry land.</p>

<p class = "normal">Come, let us bow down, and bend
the knee, * <br>
&nbsp;&nbsp;&nbsp;and kneel before the Lord our Maker. <br>
For he is our God, <br>
and we are the people of his pasture and the sheep of his hand. *
<br>
&nbsp;&nbsp;&nbsp;Oh, that today you would hearken to his voice!</p>

<p class = "normal2 directions"><em>or Psalm 95, page
724 </em></p>
